html{
    background-color: white;
    padding: 0;
    margin: 0;
}

body{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    /* margin: 20px 0; */
    width: 100%;
    /* height: 100%; */
    /* height: 100%; */
    /* background: rgb(165, 84, 84); */
    font-family: 'Work Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body>header,section{
    margin-left: 25vmin;
    margin-right: 25vmin;
}

.slider, .load, .principal, .content {
  margin: 0;
  padding: 0;
}

/* .slider{
  margin-top: -10px;
} */

.load {
  animation: slide 2s;
}

.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  animation: slide 30s infinite;
}

.content{
  /* color: #4a8b5c; */
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.principal{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  letter-spacing: 5px;
  text-align: center;
}

/* .principal h1 {
  font-size: 70px;
  margin-bottom: 20px;
} */

/* .principal p {
  font-size: 20px;
} */

@keyframes slide {
  0%{
    background-image: url('static/img/slideshow/1.jpg');
  }
  14.3%{
    background-image: url('static/img/slideshow/1.jpg');
  }
  14.301%{
    background-image: url('static/img/slideshow/2.jpg');
  }
  28.6%{
    background-image: url('static/img/slideshow/2.jpg');
  }
  28.601%{
    background-image: url('static/img/slideshow/3.jpg');
  }
  42.9%{
    background-image: url('static/img/slideshow/3.jpg');
  }
  42.901%{
    background-image: url('static/img/slideshow/4.jpg');
  }
  57.2%{
    background-image: url('static/img/slideshow/4.jpg');
  }
  57.201%{
    background-image: url('static/img/slideshow/5.jpg');
  }
  71.5%{
    background-image: url('static/img/slideshow/5.jpg');
  }
  71.501%{
    background-image: url('static/img/slideshow/6.jpg');
  }
  85.8%{
    background-image: url('static/img/slideshow/6.jpg');
  }
  85.801%{
    background-image: url('static/img/slideshow/7.jpg');
  }
  100%{
    background-image: url('static/img/slideshow/7.jpg');
  }
}

header{
    /* background-image: url(static/img/header1.png); */
    /* background-color: black; */
    /* height: 150px; */
    /* background-size: 100%; */
    /* background-position: center;  */
    /* background-repeat: no-repeat; */
    margin-top: 0px;
    /* text-align: center; */
    position: relative;
}

nav{
  padding: 0;
  margin: 0;
}

.title{
  text-align: center;
  /* padding-top: 100px; */
  padding: 0;
  margin: 0;
  /* margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0; */
}

.title .name{
  color: #4a8b5c;
  font-weight: 1000;
  font-size: 11vmax;
  text-align: center;
  text-transform: uppercase;
}

.quotation{
  margin: .5em 10px;
  padding: 0 10px;
  quotes: "\201C""\201D""\2018""\2019";
  /* padding: 10px 20px; */
  /* line-height: 1.4; */
  text-align: center;
  font-size: 2vmax;
}

.green-word{
  color: #4a8b5c;
}

.quotation:before {
  content: open-quote;
  display: inline;
  line-height: 0;
  left: 10px;
  position: relative;
  /* top: 25px; */
  /* color: #4a8b5c; */
  color: white;
  /* font-size: 1.5em; */
  font-size: 2vmax;
}

.quotation:after {
  content: close-quote;
  display: inline;
  line-height: 0;
  /* left: 0px; */
  position: relative;
  
  /* top: 5px; */
  /* color: #4a8b5c; */
  color: white;
  /* font-size: 1.5em; */
  font-size: 2vmax;
}

/* header .quotation {
  margin: 0;
} */

.quotation-author{
  margin:0;
  text-align: center;
  /* font-size: 1em; */
  font-size: 2vmax;
  font-style: italic;
}


ul.scrollable {
  /* background-color: rgb(224, 224, 224); */
  /* border: 1px solid #e7e7e7; */
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  /* background-color: #f3f3f3; */
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  /* margin: 10px; */
  /* border-radius: 100px; */
  text-align: center;
}

ul.scrollable li {
  display: inline-block;
  /* background-color: #5ad67d; */
  margin: 0;
  position: relative;
}

ul.scrollable li a{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 10px;
  margin: 0;
  text-decoration: none;
}

ul.scrollable li:hover {
  background-color: rgb(212, 212, 212);
}

.float-right{
  float: right;
  /* position: fixed; */
  /* right: 0; */
  
}

.vertical-center { /*The parent needs to be with position relative*/
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.top-left { /*The parent needs to be with position relative*/
    margin-left: 20px;
    position: relative;
    top: 0px;
}

.section-title{
    
    text-align: left;
    font-size: 40px;
    color: #4a8b5c;
    width: 100%;
    /* background: rgb(56, 158, 87); */
    /* margin-top: 0; */
    margin: 0;
    /* margin-bottom: 0; */
    padding: 0;
    /* text-decoration: underline; */
    text-transform: uppercase;
}

.section-description{
    text-align: left;
    /* font-size: 18px; */
    /* font-family: 'Roboto' */
    /* color: rgb(97, 94, 94); */
    color: black;
    width: 100%;
    /* background: rgb(10, 66, 27); */
    margin: 0;
    /* margin: 0 2%; */
    /* margin-top: 0;
    margin-left: 2%; 
    margin-bottom: 0; */
    padding-left: 2%;
    
}

.section-description p{
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-category{
  text-align: center;
  font-size: 25px;
  /* font-family: 'Roboto' */
  color: rgb(97, 94, 94);
  /* color: black; */
  width: 100%;
  /* background: rgb(10, 66, 27); */
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  padding: 0;
  text-transform: uppercase;
  /* text-decoration: underline; */
}

/* .flex-container{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100%;
}

.flex-child{
    margin: auto;
} */

/* flickity */

* { box-sizing: border-box; }

.project-category-container{
  /* border: 1px solid black; */
  /* border-top: 1px solid black; */
  /* border-bottom: 1px solid black; */
  /* border-radius: 10px; */
  margin-bottom: 40px;
  margin-right: 5%;
  margin-left: 5%;
}

.project-category-container.first{
  margin-top: 20px;
}

.project-category-container.last{
  margin-bottom: 0;
}

.carousel-container{
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 50px;
  /* position: relative; */
  /* padding-top: 56.25% */
  /* display: inline-block;
  height: 100%; */
}


.carousel {
  background: white;
  width: 100%;
}

/* enable Flickity by default */
.carousel:after {
  content: 'flickity';
  display: none; /* hide :after */
}

.carousel-cell {
  width: 80%;
  height: 200px;
  /* height: 100%; */
  /* max-height: 40vmin; */
  margin-right: 15px;
  /* background: #8C8;  */
  /* border-radius: 5px; */
  text-align: center;
  /* padding-top: 56.25% */
  
}

.carousel-cell.aspect-ratio-524-610{
  /*The aspect ratio is calculated like so:
  the right side of aspect ratio divided by left side, all this times .carousel-cell height*/
  width: 172px;
}

.carousel-cell.aspect-ratio-235-214{
  /*The aspect ratio is calculated like so:
  the right side of aspect ratio divided by left side, all this times .carousel-cell height*/
  width: 182px;
}

.carousel-cell.aspect-ratio-3806-2894{
  /*The aspect ratio is calculated like so:
  the right side of aspect ratio divided by left side, all this times .carousel-cell height*/
  width: 263px;
}

.carousel-cell.aspect-ratio-796-765{
  /*The aspect ratio is calculated like so:
  the right side of aspect ratio divided by left side, all this times .carousel-cell height*/
  width: 192px;
}

.carousel-cell.aspect-ratio-1280-623{
  /*The aspect ratio is calculated like so:
  the right side of aspect ratio divided by left side, all this times .carousel-cell height*/
  width: 410px;
}

.carousel-cell.aspect-ratio-640-480{
  /*The aspect ratio is calculated like so:
  the right side of aspect ratio divided by left side, all this times .carousel-cell height*/
  width: 267px;
}

.carousel-cell.aspect-ratio-994-587{
  /*The aspect ratio is calculated like so:
  the right side of aspect ratio divided by left side, all this times .carousel-cell height*/
  width: 339px;
}

.carousel-cell.aspect-ratio-4032-3024{
  /*The aspect ratio is calculated like so:
  the right side of aspect ratio divided by left side, all this times .carousel-cell height*/
  width: 267px;
}

.carousel-cell.aspect-ratio-439-417{
  /*The aspect ratio is calculated like so:
  the right side of aspect ratio divided by left side, all this times .carousel-cell height*/
  width: 210px;
}

.carousel-cell.aspect-ratio-604-295{
  /*The aspect ratio is calculated like so:
  the right side of aspect ratio divided by left side, all this times .carousel-cell height*/
  width: 410px;
}

.carousel-cell.aspect-ratio-841-259{
  /*The aspect ratio is calculated like so:
  the right side of aspect ratio divided by left side, all this times .carousel-cell height*/
  width: 650px;
}


.carousel .carousel-cell a{
  display: block;
  height: 100%;
}

.carousel img {
  height: 100%;
  /* min-width: 1px; */
  /* max-width: 100%; */
  width: 100%;

  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; */
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

/* .carousel {
  height: 100%;
}

.carousel .cell {
  margin-right: 15px;
  width: 50%;
  height: 100%;
}

.carousel .cell.image-cell a {
  display: block;
  height: 100%;
}

.carousel .cell img {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
} */

.flickity-page-dots{
  margin-bottom: -8px;
}
.flickity-page-dots .dot {
  /* width: 12px; */
  /* height: 12px; */
  opacity: 1;
  background: transparent;
  /* border: 2px solid #4a8b5c; */
  border: 2px solid black;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  /* background: #4a8b5c; */
  background: black;
}

/* @media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 200px;
  }
} */

/* @media screen and ( max-width: 450px ) {
  .flickity-prev-next-button {
    width: 20px;
    height: 20px;

  }
} */


/* End of flickity */

.lightbox-content-scroll {
  background: white;
  margin: 50px 80px;
}

.lightbox-content-scroll .scrollable-content {
  padding: 50px;
  max-height: 80vh;
  overflow: auto;
}

@media screen and ( max-width: 700px ) {

  body>header,section {
    margin-left: 10vmin;
    margin-right: 10vmin;
  }

  /* .title .name{
    font-size: 13vw;
  }

  .quotation{
    font-size: 4vw;
  }
  
  .quotation:before {
    font-size: 4vw;
  }
  
  .quotation:after {
    font-size: 4vw;
  }

  .quotation-author{
    font-size: 4vw;
  } */

    /* disable Flickity for small devices */
    /* .carousel:after {
      content: '';
    } */

  /* position dots in carousel */
  .flickity-page-dots {
    bottom: 20px;
  }
  
  /*small prev next buttons*/
  .flickity-prev-next-button {
    width: 25px;
    height: 25px;
  }

  .flickity-button {
    background: black;
  }

  .flickity-button:hover {
    background: black;
  }

  .flickity-button-icon {
    fill: white;
  }

  /* position outside */
  .flickity-prev-next-button.previous {
    left: -30px;
  }
  .flickity-prev-next-button.next {
    right: -30px;
  }

  .carousel-cell{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .carousel .carousel-cell:last-child {
    margin-bottom: 0px;
}
  .carousel img {
    top: auto;
    transform: none;
    position: static;
    width: 100%;
}

  .project-category-container{
    border: none;
    margin-bottom: 20px;
  }

  .carousel-container{
    margin-bottom: 20px;
  }

  .lightbox-content-scroll {
    margin: 50px 10px;
  }
}


* {
    box-sizing: border-box;
  }

  /* footer */

footer{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}
.socialbtns ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    /* margin-top: 40px; */
}

.socialbtns li {
    margin-right: 20px;
} 

.socialbtns .fa {
    color: black;
}

.credits .fa{
  color: black;
}
